body {
  background: grey;
}
h1 {
  font-size: 30px;
  text-align: center;
}
.telefonbuch {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card {
  background-color: white;
  min-width: 400px;
  height: 100px;
  padding: 1rem;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: 10px 20px 30px rgb(88, 83, 83);
  border-radius: 2%;
}
.imageround {
  border-radius: 100%;
  height: 100px;
}
.namenummer {
  text-align: right;
  display: flex;
  flex-direction: column;
}
.card:hover {
  background-color: rgb(167, 145, 158);
  transition: all 0.5s ease-out;
}
.telefonnummer {
  color: grey;
  text-decoration: none;
}
@media (min-width: 768px) {
  .telefonbuch {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .card {
    height: 2%;
    width: 2%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .namenummer {
    text-align: center;
  }
}
